* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1492571350019-22de08371fd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1053&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.titulo {
  background-color: rgba(115, 54, 48, 0.7);
  width: 100%;
  text-align: center;

}

.texttitulo {
  font-size: 80px;
  margin: 10px;
  align-items: center;
  color: #E8E5DC;

}

.contnedorCalcu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calcul {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #A08E8E;
  padding: 15px;
  border-radius: 32px;
  box-shadow: 15px 10px 0px 5px rgba(62, 45, 43, 0.9);
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.5rem;
  border: none;
  background-color: #E8E5DC;
  box-shadow: 5px 5px 10px -3px rgba(62, 45, 43, 0.7);

}

button:active {
  background-color: #BF463B;
}

button:focus {
  outline: none;
}

.tecla {
  grid-column: span 2;
}

.display {
  display: flex;
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #E8E5DC;
  border-radius: 32px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #3E2D2B;
}

#valorActual {
  font-size: 1.5rem;
}

#valorAnterior {
  font-size: 2rem;
}

footer {
  display: flex;
  background-color: rgba(115, 54, 48, 0.7);
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.parrafoFooter {
  color: #fff;
  text-align: left;
  padding-right: 20px;
}